@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

#project-card{
	box-shadow: 0 8px 8px 1px rgb(179, 178, 178);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 7px;
	overflow: hidden;
	margin: 2em;
	height: 350px;
	width: 700px;
	
}
.product-details {
	position: relative;
	text-align: justify;
	padding: 30px 0 0 30px;
	height: 100%;
	float: left;
	width: 48%;

}

#project-card .product-details h3{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	/* font-size: 2rem; */
	color: #344055;
	margin: 0;
	
}

#project-card .product-details h3:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}
#project-card .product-details > p {
	text-align: justify;
	/* font-size: 16px; */
	color: #7d7d7d;
	
}
.control{
	/* position: absolute; */
	bottom: 10%;
	text-align: center;
	
}

.card-btn:hover{transform: translateY(-6px);
	background: #1a66ff;}

.card-btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.card-btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.card-btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

.card-btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.card-btn .buy {z-index: 3; font-weight: bolder;}

.card-btn:hover .price {transform: translateX(-110%);}

.card-btn:hover .shopping-cart {transform: translateX(0%);}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

#project-card img {width: 100%;height: 100%;}

.card-info {
    background: rgba(27, 26, 26, 0.9);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: justify;
    font-size: 100%;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.card-info h2 {text-align: center}
.product-image:hover .card-info{transform: translateX(0);}

.card-info ul li{transition: 0.3s ease;}
.card-info ul li:hover{transform: translateX(40px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

@media screen and (max-width: 600px) {
	.product-details{
		overflow: scroll;
	}
	.product-details > p{
		font-size: small;
	}
	.card-info{
		overflow: scroll;
		padding-right: 5px;
	}
	.feature-list{
		font-size: small;
		font-weight: 300;
		text-align: justify;
	}
	::-webkit-scrollbar {
		width: 5px;
	  }
	  
.card-info ul li{transition: 0.3s ease;}
.card-info ul li:hover{transform: translateX(0px) scale(0);}
}