.card-body{
    background-image: linear-gradient(to left, rgba(211, 211, 211, 0.39), rgba(77, 235, 143, 0.384))
}
.btn-link{
    border: 1px solid #00e99733;
    border-radius: 10%;
}
.my-card{
    border: 1px solid #00e99798;
    box-shadow: 2px 2px 7px rgba(128, 128, 128, 0.363);
    background-color: ;
}
.project-icon{
    color: rgb(83, 83, 83);
}
.btn-link:hover{
    background-color: rgba(10, 221, 133, 0.185);
}